.additional-list {
  display: none;

  @media (min-width: 1150px) {
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
    order: 4;
  }
}

.additional-list__item {
  margin-top: 18px;
  margin-right: 63px;
  padding-bottom: 1px;
}

.additional-list__link {
  display: block;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-size: 15px;
  line-height: 24px;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}
