.button {
  border: 0;
  font-family: inherit;
  cursor: pointer;
  padding: 0;

  &:hover {
    background-color: #444444;
    color: #ffffff;
  }

  &:active {
    background-color: #444444;
    color: rgba(255, 255, 255, 0.3);
  }
}
