.catalog__wrapper {
  background-color: #f1f1f1;
  padding: 73px 41px 73px 41px;
}

.catalog__title {
  margin: 0;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.catalog__list {
  padding: 30px 30px 30px 30px;
}
