.contacts {
  @media (min-width: 1150px) {
    position: relative;
    width: 1050px;
    margin: 0 auto;
    padding-bottom: 78px;
    padding-top: 44px;
  }
}

.contacts__wrapper {
  padding: 56px 30px 33px 30px;

  @media (min-width: 768px) {
    position: relative;
    padding: 60px 50px 20px 50px;

    &::after {
      content: url("../../img/flag.svg");
      position: absolute;
      top: 38px;
      right: 52px;
    }
  }

  @media (min-width: 1150px) {
    max-width: 280px;
    padding-right: 26px;
    padding-left: 175px;

    &::after {
      content: url("../../img/flag.svg");
      position: absolute;
      top: 43px;
      right: 371px;
    }
  }
}

.contacts__title {
  margin-bottom: 28px;

  @media (min-width: 768px) {
    margin-bottom: 49px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 34px;
  }
}

.contacts__list {
  @include no-list-style;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  margin-bottom: 28px;
  display: grid;
  grid-template-columns: 76px auto;
  row-gap: 30px;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: 1150px) {
    display: grid;
    grid-template-columns: 76px 220px;
    row-gap: 32px;
  }
}

@media (min-width: 768px) {
  .contacts__list .contacts__item:nth-of-type(2n) {
    margin-left: 21px;

    @media (min-width: 1150px) {
      margin: 0;
    }
  }
}

.contacts__item {

  @media (min-width: 768px) {
    width: 11.7%;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: 1150px) {
    width: auto;
  }

}

.contacts__description {
  margin: 0;

  @media (min-width: 768px) {
    width: 35%;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: 1150px) {
    width: auto;
  }
}

.contacts__email {
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;
  font-size: 14px;
  line-height: 30px;
  color: #444444;

  @media (min-width: 768px) {
    font-size: 17px;
    padding-bottom: 3px;
  }

  @media (min-width: 1150px) {
    padding-bottom: 9px;
  }
}

.contacts__address {
  font-style: normal;
  font-size: 14px;
  line-height: 30px;
  color: #444444;

  @media (min-width: 768px) {
    font-size: 17px;
  }
}

.contacts__map {
  width: 100%;

  @media (min-width: 768px) {
    height: 457px;
  }

  @media (min-width: 1150px) {
    position: absolute;
    top: 25px;
    right: 0;
    width: 527px;
  }
}

.contacts__button-wrapper {
  padding: 41px 30px 39px 30px;

  @media (min-width: 768px) {
    padding: 52px 50px 58px 50px;
    width: 30%;
    margin: 0 auto;
  }

  @media (min-width: 1150px) {
    margin: 0;
    padding: 36px 31px 29px 175px;
  }

}

.contacts__write-link {
  display: block;
  text-decoration: none;

  @include standart-button;

  @media (min-width: 768px) {
    font-size: 17px;
    padding: 13px 0;
  }

  @media (min-width: 1150px) {
    width: 230px;
  }
}
