.copyright {
  display: flex;
  align-items: center;
  padding: 22px 0;
  justify-content: center;
}

.copyright__link {
  display: flex;
  margin-left: 27px;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
}
