.features__wrapper {
  padding: 48px 30px 30px 30px;

  @media (min-width: 768px) {
    padding: 73px 50px 83px 50px;
  }

  @media (min-width: 1150px) {
    width: 700px;
    margin: 0 auto;
    padding-top: 89px;
    padding-bottom: 88px;
  }
}

.features__title {
  @media (min-width: 768px) {
    margin-bottom: 14px;
  }
}

.features__list {
  @include no-list-style;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 27px;
  }
}

.features__item {
  padding-top: 83px;
  color: #000000;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 22px;
    padding-right: 40px;
  }

  &--eco {
    background-image: url("../../img/eco.svg");
    background-repeat: no-repeat;
    background-position: top 27px left 8px;
  }

  &--price {
    background-image: url("../../img/price.svg");
    background-repeat: no-repeat;
    background-position: top 30px left;

    @media (min-width: 768px) {
      grid-row: 2/3;
    }
  }

  &--like {
    background-image: url("../../img/like.svg");
    background-repeat: no-repeat;
    background-position: top 34px left 7px;

    @media (min-width: 768px) {
      grid-row: 3/4;
    }
  }

  &--handmade {
    background-image: url("../../img/handmade.svg");
    background-repeat: no-repeat;
    background-position: top 30px left 3px;
  }

  &--support {
    background-image: url("../../img/support.svg");
    background-repeat: no-repeat;
    background-position: top 30px left;
  }

  &--wrapper {
    background-image: url("../../img/wrapper.svg");
    background-repeat: no-repeat;
    background-position: top 30px left 3px;
  }
}
