.form {
  padding: 0 30px 55px 30px;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__list {
  @include no-list-style;
}

.form__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;

  @media (min-width: 768px) {
    font-size: 19px;
  }
}

.form__legend {
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $prim-color;
  text-transform: uppercase;
  width: 100%;

  @media (min-width: 1150px) {
    padding-left: 62px;
  }
}

.form__legend::after {
  content: "";
  margin-left: 20px;
  width: 100%;
  height: 1px;
  background-color: #62D1BA;

  @media (min-width: 768px) {
    content: none;
  }
}

.form__label {
  display: block;
}

.form__input {
  font-family: "Open Sans", "Arial", sans-serif;
  border: none;
  font-size: 17px;
  line-height: 18px;
  border: none;
  padding: 0;
  width: 100%;
  border-bottom: 2px solid black;
  margin-bottom: 24px;

  &:focus-visible {
    outline-color: #62d1ba;
    border-color: #62d1ba;
  }

  &:hover {
    border-color: #62d1ba;
  }


}

.form__input::placeholder {
  opacity: 0.5;

  @media (min-width: 768px) {
    font-size: 19px;
    line-height: 18px;
  }
}

.form__fieldset--type {
  padding-bottom: 43px;

  @media (min-width: 768px) {
    padding-bottom: 66px;
  }
}

.form__type-wrapper {
  @media (min-width: 768px) {
    display: flex;
    padding: 0 50px;
  }

  @media (min-width: 1150px) {
    width: 1050px;
    margin: 0 auto;
  }
}

.form__legend--type {
  margin-bottom: 30px;

  @media (min-width: 768px) {
    width: 25%;
    align-self: flex-start;
    padding-top: 8px;
  }
}

.form__list--type .form__item:first-child {
  margin-bottom: 13px;
  min-height: 41px;

  @media (min-width: 768px) {
    margin-bottom: 36px;
  }
}

.form__label--type {
  padding: 5px 0 0 59px;
  position: relative;

  @media (min-width: 768px) {
    padding-left: 79px;
  }
}

.form__label--padding {
  padding-top: 11px;

  @media (min-width: 768px) {
    padding-top: 6px;
  }
}

.form__label--type::before{
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  top: 0;
  border-radius: 50%;
  border: 2px solid #444444;
  box-sizing: border-box;

  @media (min-width: 768px) {
    width: 50px;
    height: 50px;
    left: 2px;
    top: -10px;
  }
}

.form__radio-input:focus-visible + .form__label--type::before {
  border-color: #62d1ba;
}

.form__label--type:hover::before {
  border-color: #62d1ba;
}

.form__label--type:active::before {
  opacity: 0.3;
}

.form__radio-input:checked + .form__label--type::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: #62D1BA;
  width: 16px;
  height: 17px;
  left: 12px;
  top: 11px;

  @media (min-width: 768px) {
    width: 21px;
    height: 21px;
    left: 17px;
    top: 4px;
  }
}

.form__fieldset--color {
  margin-bottom: 10px;

  @media (min-width: 768px) {
    margin: 0;
    background-color: #F1F1F1;
  }
}

.form__color-wrapper {
  @media (min-width: 768px) {
    padding: 50px 50px 35px 50px;
    display: flex;
  }

  @media (min-width: 1150px) {
    width: 1050px;
    margin: 0 auto;
    padding-top: 48px;
  }
}

.form__legend--color {
  margin-bottom: 25px;

  @media (min-width: 768px) {
    width: 25%;
    align-self: flex-start;
    padding-top: 17px;
  }
}

.form__list--color {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 9px;
  }

  @media (min-width: 1150px) {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 7px;
    column-gap: 61px;
  }
}

.form__list--color .form__label {
  position: relative;
  margin-bottom: 33px;
  padding: 10px 0 0 61px;

  @media (min-width: 768px) {
    padding: 16px 0 0 81px;
  }

  @media (min-width: 1150px) {
    padding-top: 18px;
  }
}

.form__list--color .form__item {
  margin-bottom: 23px;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.form__list--color .form__label::before{
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  left: 0;
  top: 0;
  border: 2px solid #444444;
  box-sizing: border-box;

  @media (min-width: 768px) {
    width: 52px;
    height: 52px;
  }
}

.form__check-input:checked + .form__label--color::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 23px 26px;
  width: 37px;
  height: 38px;

  @media (min-width: 768px) {
    top: 2px;
    background-size: 34px 30px;
    width: 50px;
    height: 50px;
  }
}

.form__check-input:focus-visible + .form__label--color::before {
  border-color: #62d1ba;
}

.form__label--color:hover::before {
  border-color: #62d1ba;
}

.form__label--color:active::before {
  opacity: 0.3;
}

.form__bio-wrapper {
  @media (min-width: 768px) {
    padding: 54px 50px 13px 50px;
    display: flex;
  }

  @media (min-width: 1150px) {
    width: 1050px;
    margin: 0 auto;
    padding-top: 47px;
    padding-bottom: 18px;
  }
}

.form__list--bio {
  margin-bottom: 3px;

  @media (min-width: 768px) {
    flex-grow: 1;
    margin-bottom: 9px;
  }

  @media (min-width: 1150px) {
    flex-grow: 0;
    width: 700px;
  }
}

.form__list--bio .form__item {
  @media (min-width: 768px) {
    margin-bottom: 4px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 16px;
  }
}

.form__list--bio .form__label{
  @media (min-width: 768px) {
    display: flex;
  }
}

.form__list--bio .form__input {
  color: black;
  font-size: 17px;
  line-height: 18px;
  width: 100%;
  margin-bottom: 23px;
  height: 42px;

  @media (min-width: 768px) {
    padding: 0px 0 5px 16px;
  }

  @media (min-width: 1150px) {
    width: auto;
    flex-grow: 1;
    padding: 0px 20px 0px 18px;
    height: 52px;
    margin-bottom: 5px;
  }
}

.form__legend--bio {
  margin-bottom: 29px;

  @media (min-width: 768px) {
    width: 25%;
    align-self: flex-start;
    padding-top: 14px;
  }

  @media (min-width: 1150px) {
    width: 114px;
    padding-top: 19px;
  }
}

.form__input-name {
  margin-bottom: 7px;
  display: block;

  @media (min-width: 768px) {
    margin: 0;
    width: 35%;
    padding-top: 13px;
  }

  @media (min-width: 1150px) {
    width: 125px;
    padding-top: 19px;
  }
}

.form__input-name--small {
  @media (min-width: 768px) {
    width: 18%;
    padding-top: 12px
  }

  @media (min-width: 1150px) {
    width: 75px;
    padding-top: 16px;
  }
}

.form__fieldset--tel {
  margin-bottom: 34px;

  @media (min-width: 768px) {
    margin: 0;
    background-color: #f1f1f1;
  }
}

.form__tel-wrapper {
  @media (min-width: 768px) {
    padding: 61px 50px 33px 50px;
    display: flex;
  }

  @media (min-width: 1150px) {
    width: 1050px;
    margin: 0 auto;
    padding-top: 51px;
    padding-bottom: 24px;
  }
}

.form__legend--tel {
  margin-bottom: 6px;
  padding-top: 9px;

  @media (min-width: 768px) {
    width: 25%;
    padding-top: 0;
  }

  @media (min-width: 1150px) {
    padding-top: 9px;
  }
}

.form__label--tel {
  position: relative;

  @media (min-width: 768px) {
    flex-grow: 1;
  }
}

.form__input--tel {
  margin: 0;
  height: 42px;
  padding-bottom: 5px;

  @media (min-width: 768px) {
    padding: 0 60px 16px 17px;
    background-color: transparent;
    box-sizing: border-box;
  }

  @media (min-width: 1150px) {
    width: 700px;
    padding-bottom: 4px;
    height: 52px;
  }
}

.form__icon {
  fill: rgba(0, 0, 0, 0.2);
}

.form__input--tel:focus-visible + .form__icon--tel {
  fill: rgba(99, 209, 187, 1);
}

.form__input--tel:hover + .form__icon--tel {
  fill: rgba(99, 209, 187, 1);
}


.form__icon--tel {
  position: absolute;
  top: 8px;
  right: 7px;
  width: 25px;
  height: 24px;

  @media (min-width: 768px) {
    top: 3px;
    right: 26px;
  }

  @media (min-width: 1150px) {
    right: 183px;
    top: 10px;
  }
}

.form__fieldset--email {
  margin-bottom: 34px;

  @media (min-width: 768px) {
    margin: 0;
    background-color: #f1f1f1;
  }
}

.form__email-wrapper {
  @media (min-width: 768px) {
    padding: 0 50px 50px 50px;
    display: flex;
  }

  @media (min-width: 1150px) {
    width: 1050px;
    margin: 0 auto;
  }
}

.form__legend--email {
  margin-bottom: 11px;

  @media (min-width: 768px) {
    width: 25%;
  }

  @media (min-width: 1150px) {
    padding-top: 10px;
  }
}

.form__label--email {
  position: relative;

  @media (min-width: 768px) {
    flex-grow: 1;
  }
}

.form__input--email {
  margin: 0;
  height: 42px;
  padding-bottom: 3px;

  @media (min-width: 768px) {
    background-color: transparent;
    padding: 7px 60px 16px 19px;
    box-sizing: border-box;
  }

  @media (min-width: 1150px) {
    width: 700px;
    height: 52px;
    padding: 0 60px 4px 17px;
  }
}

.form__legend--email::after {
  margin-left: 21px;
  width: auto;
  flex: 1;
}

.form__icon--email {
  position: absolute;
  top: 7px;
  right: 3px;
  width: 32px;
  height: 21px;

  @media (min-width: 768px) {
    right: 22px;
  }

  @media (min-width: 1150px) {
    right: 179px;
    top: 15px;
  }
}

.form__input--email:focus-visible + .form__icon--email {
  fill: rgba(99, 209, 187, 1);
}

.form__input--email:hover + .form__icon--email {
  fill: rgba(99, 209, 187, 1);
}

.form__comment-wrapper {
  @media (min-width: 768px) {
    padding: 51px 50px 0 50px;
    display: flex;
  }

  @media (min-width: 1150px) {
    width: 1050px;
    margin: 0 auto;
  }
}

.from__legend--comment {
  margin-bottom: 24px;

  @media (min-width: 768px) {
    width: 25%;
    align-self: self-start;
    padding-top: 19px;
  }
}

.form__comment-field {
  font-family: inherit;
  margin: 0;
  padding: 0;
  resize: none;
  border: 2px solid #444444;
  width: 100%;
  height: 142px;
  box-sizing: border-box;
  padding: 14px 15px 0 15px;
  margin-bottom: 11px;

  &:focus {
    border-color: #62d1ba;
  }

  &:hover {
    border-color: #62d1ba;
  }

  &:active {
    border-color: #62d1ba;
  }

  @media (min-width: 768px) {
    width: auto;
    flex-grow: 1;
  }

  @media (min-width: 1150px) {
    width: 700px;
    flex-grow: 0;
  }
}

.form__comment-field::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  opacity: 0.5;

  @media (min-width: 768px) {
    font-size: 19px;
  }
}

.form__button-wrapper {
  @media (min-width: 768px) {
    padding: 42px 50px 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: 1150px) {
    width: 700px;
    margin: 0 auto;
    padding-top: 38px;
  }
}

.form__note {
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin: 0;
    order: 2;
    font-size: 17px;
    line-height: 30px;
    padding-left: 30px;
  }
}

.form__button {
  @include standart-button;
  width: 100%;
  font-size: 17px;
  line-height: 16px;
  padding: 16px 0;
  flex-shrink: 0;

  @media (min-width: 768px) {
    align-self: flex-start;
    width: 34.4%;
  }

  @media (min-width: 1150px) {
    width: 230px;
  }
}

.form__legend {
  @media (min-width: 1150px) {
    width: 113px;
  }
}
