.form-wrapper__container {
  background-color: #f1f1f1;
  padding: 71px 30px 74px 30px;

  @media (min-width: 768px) {
    padding-top: 56px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 0;
      display: block;
      width: 100%;
      height: 24px;
      background-image: url("../../img/zigzag-fill-desktop.svg");
      background-repeat: repeat-x;
      background-position: 50% 100%;
    }
  }

  @media (min-width: 1150px) {
    padding: 57px 30px 99px 30px;
    margin-bottom: 47px;

    &:after {
      content: "";
      position: absolute;
      bottom: -16px;
      left: 0;
      display: block;
      width: 100%;
      height: 40px;
      background-image: url("../../img/zigzag-fill-desktop.svg");
      background-size: 1150px;
    }
  }
}

.form-wrapper__title {
  margin: 0;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #000000;

  @media (min-width: 768px) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: 1150px) {
    font-size: 53px;
    line-height: 57px;
  }
}

.form-wrapper__description {
  font-size: 13px;
  line-height: 24px;
  padding: 17px 30px 29px 30px;
  margin: 0;

  @media (min-width: 768px) {
    padding: 65px 50px 73px 50px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: 1150px) {
    width: 702px;
    margin: 0 auto;
  }
}

