.index-catalog {
  position: relative;
  background-color: #f9f9f9;
}

.index-catalog::after {
  @media (min-width: 768px) {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    display: block;
    width: 100%;
    height: 24px;
    background-image: url("../../img/zigzag-fill-desktop.svg");
    background-repeat: repeat-x;
    background-position: 50% 100%;
  }

  @media (min-width: 1150px) {
      content: "";
      position: absolute;
      bottom: -16px;
      left: 0;
      display: block;
      width: 100%;
      height: 40px;
      background-image: url("../../img/zigzag-fill-desktop.svg");
      background-size: 1250px;
  }
}

.index-catalog__content-wrapper {
  padding: 72px 30px 119px 30px;
  background-image: url("../../img/main-bg-mobile.jpg");
  background-position: top -19px center;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    padding: 110px 50px 371px 50px;
    background-image: url("../../img/main-bg-desktop.jpg");
    background-position: top -46px center;
  }

  @media (min-width: 1150px) {
    padding: 113px 50px 355px 50px;
    max-width: 1050px;
    margin: 0 auto;
  }
}

.index-catalog__title {
  align-self: center;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  text-align: center;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: 1150px) {
    font-size: 53px;
    line-height: 57px;
  }
}

@media (min-width: 768px) {
  .index-catalog__title-break  {
    display: none;
  }
}

@media (min-width: 1150px) {
  .index-catalog__title-break:nth-child(2) {
    display: block;
  }
}

.index-catalog__list {
  @include no-list-style;

  @media (min-width: 768px) {
    display: flex;
    padding: 0 50px;
  }

  @media (min-width: 1150px) {
    max-width: 1050px;
    margin: 0 auto;
  }
}

.index-catalog__item {
  min-height: 103.5px;

  &:hover {
    transform: translateY(-5px);
    transition-duration: 0.7s;
  }

  @media (min-width: 768px) {
    width: 50%;
  }

  @media (min-width: 1150px) {
    padding-bottom: 5px;
  }
}

.index-catalog__item--primary-color {
  background-color: $prim-color;

  &:hover {
    background-color: #59D5BC;
  }

  &:active {
    background-color: #59D5BC;
    color: rgba(255, 255, 255, 0.3);
  }
}

.index-catalog__item--secondary-color {
  background-color: $sec-color;

  &:hover {
    background-color: #46C1AE;
  }

  &:active {
    background-color: #46C1AE;
  }
}

.index-catalog__item--interior {
  background-image: url("../../img/interior.svg");
  background-repeat: no-repeat;
  background-position: right 36px top 24px;

  @media (min-width: 768px) {
    background-position: right 36px top 30px;
  }
}

.index-catalog__item--toys {
  background-image: url("../../img/toys.svg");
  background-repeat: no-repeat;
  background-position: right 27px center;

  @media (min-width: 768px) {
    background-position: right 34px top 31px;
  }
}

.index-catalog__link {
  display: block;
  padding: 24px 160px 31px 30px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: 768px) {
    padding: 26px 100px 33px 37px;
    font-size: 20px;
    line-height: 30px;
  }
}
