.index-catalog {
  position: relative;
  background-color: #f9f9f9;
}

.index-catalog::after {
  @media (min-width: 768px) {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    display: block;
    width: 100%;
    height: 24px;
    background-image: url("../../img/zigzag-fill-desktop.svg");
    background-repeat: repeat-x;
    background-position: 50% 100%;

    @media (min-width: 1150px) {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 0;
      display: block;
      width: 100%;
      height: 24px;
      background-image: url("../../img/zigzag-fill-desktop.svg");
      background-repeat: repeat-x;

    }
  }
}

.index-catalog__content-wrapper {
  padding: 90px 30px 120px 30px;
  background-image: url("../../img/main-bg-mobile.jpg");
  background-position: center center;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    padding: 145px 50px 372px 50px;
  }
}

.index-catalog__title {
  align-self: center;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  text-align: center;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: 1150px) {
    font-size: 53px;
    line-height: 57px;
  }
}

.index-catalog__list {
  @include no-list-style;

  @media (min-width: 768px) {
    display: flex;
    padding: 0 50px;
  }
}

.index-catalog__item {
  min-height: 103px;

  @media (min-width: 768px) {
    width: 50%;
  }
}

.index-catalog__item--primary-color {
  background-color: $prim-color;
}

.index-catalog__item--secondary-color {
  background-color: $sec-color;
}

.index-catalog__item--interior {
  background-image: url("../../img/interior.svg");
  background-repeat: no-repeat;
  background-position: right 36px center;
}

.index-catalog__item--toys {
  background-image: url("../../img/toys.svg");
  background-repeat: no-repeat;
  background-position: right 27px center;
}

.index-catalog__link {
  display: block;
  padding: 24px 160px 31px 30px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
}
