.main-footer {
  background-color: #f1f1f1;
}

.main-footer__container {
  padding: 0 30px;

  @media (min-width: 768px) {
    padding: 51px 50px 54px 50px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 1150px) {
    width: 1050px;
    margin: 0 auto;
  }
}

.main-footer__logo {
  display: none;

  @media (min-width: 768px) {
    align-self: center;
    display: inline-block;
  }
}

.main-footer__logo:hover .main-footer__icon {
  fill: #46C1AE;
}

.main-footer__logo:active .main-footer__icon {
  opacity: 0.3;
}

.main-footer__socials-list {
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: 768px) {
    border: none;
  }
}

