.main-nav {
  @media (max-width: 768px) {
    flex-direction: column;
    display: flex;
    width: 100%;
    min-height: 79px;
    position: relative;
  }


  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}

.main-nav__toggle {
  position: absolute;
  border: none;
  background-color: transparent;
  width: 20px;
  height: 14px;
  top: 30px;
  right: 30px;
  padding: 0;
  margin: 0;


  @media (min-width: 768px) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    right: 0;
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: 768px) {
  .main-nav--opened {
    position: absolute;
    top: 0;
    z-index: 5;
    background-color: #ffffff;
  }
}

@media (min-width: 768px) {
  .main-nav--opened {
    position: static;
    top: unset;
    z-index: unset;
    background-color: unset;
  }
}

@media (max-width: 768px) {
  .main-nav--closed .user-list {
    display: none;
  }
}

@media (max-width: 768px) {
  .main-nav--closed .site-list {
    display: none;
  }
}

.main-nav--closed .user-list {
  @media (min-width: 768px) {
    display: flex;
  }
}

.main-nav--closed .site-list {
  @media (min-width: 768px) {
    display: flex;
  }
}

.main-nav--nojs .user-list,
.main-nav--nojs .site-list {
  display: flex;
}

.main-nav__list {
  @include no-list-style;
}

.user-list__text {
  @media (min-width: 768px) {
    display: none;
  }
}

.main-nav__delivery {
  display: none;

  @media (min-width: 768px) {
    display: block;
    font-size: 15px;
    line-height: 24px;
    order: 5;
    margin-left: auto;
    color: #444444;
    margin-top: 20px;
    align-self: flex-start;
  }
}
