.main-nav {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.main-nav__toggle {
  @media (min-width: 768px) {
    display: none;
  }
}

.main-nav__list {
  @include no-list-style;

  display: flex;
  align-items: center;
}

.user-list__text {
  @media (min-width: 768px) {
    display: none;
  }
}

.main-nav__delivery {
  display: block;
  font-size: 15px;
  line-height: 24px;
  order: 3;
  margin-left: auto;
  color: #444444;
  padding-top: 20px;
  align-self: flex-start;
}
