.main-header {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;

  @media (min-width: 768px) {
    border-top: none;
    border-bottom: none;
    background: linear-gradient(#ffffff 88px, #ececec 2px, transparent 90px);
    background-color: #fafafa;
    background-repeat: no-repeat;
    background-size: 100% 176px;
  }
}

.main-header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: 768px) {
    padding: 0 50px;
  }

  @media (min-width: 1150px) {
    max-width: 1050px;
    margin: 0 auto;
  }
}

.main-header__logo {
  align-self: center;

  @media (min-width: 768px) {
    margin: 0;
    margin-right: 31%;
  }

  @media (min-width: 1150px) {
    order: 2;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .main-header__mishka-logo--mobile {
    display: none;
  }
}

.main-header__mishka-logo--tablet {
  display: none;

  @media (min-width: 768px) {
    display: block;
    margin-left: -2px;
  }

  @media (min-width: 1150px) {
    display: none;
  }
}

.main-header__mishka-logo--desktop {
  display: none;

  @media (min-width: 1150px) {
    display: block;
  }
}

.user-list {
  order: 1;

  @media (min-width: 1150px) {
    order: 3
  }
}

.site-list {
  order: 2;

  @media (min-width: 1150px) {
    order: 1;
  }
}
