.main-header {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;

  @media (min-width: 768px) {
    border-top: none;
    border-bottom: none;
    background: linear-gradient(#ffffff 88px, #ececec 2px, transparent 90px);
    background-color: #fafafa;
    background-repeat: no-repeat;
    background-size: 100% 176px;
  }
}

.main-header__logo {
  align-self: center;
  width: 86px;
  margin: 0 auto;

  @media (min-width: 768px) {
    margin: 0;
    margin-right: 31%;
  }
}

.main-header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: 768px) {
    padding: 0 50px;
  }
}

.user-list {
  order: 1;
}

.site-list {
  order: 2;
}
