.main-header {
  border-top: 1px solid #ECECEC;
  border-bottom: 1px solid #ECECEC;
  @media (min-width: 768px) {
    border-top: none;
  }
}

.main-header__logo {
  align-self: center;
  width: 86px;
  margin: 0 auto;
  @media (min-width: 768px) {
    margin: 0;
    margin-right: 31%;
  }
}

.main-header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @media (min-width: 768px) {
    padding: 0 50px;
  }
}

.user-list {
  order: 1;
}

.site-list {
  order: 2;
}
