.modal__wrapper {
  position: fixed;
  display: block;
  padding: 0 30px;
  top: 25vh;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 15;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);

  @media (min-width: 768px) {
    position: fixed;
    padding: 0 30px;
    top: 25vh;
    left: 0;
    right: 0;
    width: 566px;
    box-sizing: border-box;
    margin: 0 auto;
  }
}

.modal__wrapper--closed {
  display: none;
}

.modal__overlay--closed {
  display: none;
}

.modal__overlay--opened {
  display: block;
  position: fixed;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.modal__form {
  max-width: 350px;
  margin: 0 auto;

  @media (min-width: 1150px) {
    width: 350px;
  }
}

.modal__title {
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 29px 50px 0 50px;
  margin-bottom: 14px;

  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 57px;
    padding-top: 37px;
    margin-bottom: 12px;
  }
}

.modal__description {
  text-align: center;
  display: block;
  margin-bottom: 21px;
  font-size: 15px;
  line-height: 30px;

  @media (min-width: 768px) {
    font-size: 17px;
    margin-bottom: 19.5px;
  }
}

.modal__fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.modal__list {
  @include no-list-style;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 7px;
  margin-bottom: 31px;
}

.modal__input:checked + .modal__label {
  border-color: #63d1bb;
}

.modal__label {
  display: block;
  font-size: 17px;
  line-height: 16px;
  color: #444444;
  font-weight: 700;
  border: 2px solid rgba(68, 68, 68, 0.1);
  padding: 15.2px 0;
  text-align: center;
}

.modal__button {
  display: block;
  padding: 18px 0;
  font-family: inherit;
  text-transform: uppercase;
  box-sizing: border-box;
  color: #ffffff;
  background-color: $prim-color;
  border: none;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 46px;
}
