.page-body {
  min-height: 100%;
  margin: 0 auto;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #ffffff;
  color: #444444;
}

.page {
  background-color: #C7C7C7;
}
