.parameters-list {
  @include no-list-style;
  display: grid;
  grid-template-columns: 38% auto;
  font-size: 15px;
  line-height: 20px;

  @media (min-width: 768px) {
    grid-template-columns: 34% auto;
  }
}

.parameters-list__parameter {
  border-bottom: 1px solid #ececec;
  padding-bottom: 11px;

  &:not(:first-of-type) {
    padding-top: 8px;
  }
}

.parameters-list__value {
  margin: 0;
  border-bottom: 1px solid #ececec;
  padding-bottom: 11px;

  &:not(:first-of-type) {
    padding-top: 8px;
  }
}
