.product-card {
  padding: 31px 30px 36px 30px;

  @media (min-width: 768px) {
    padding-right: 50px;
    padding-left: 50px;
  }
}

.product-card__title {
  margin-bottom: 3.5px;
}

.product-card__promotion {
  color: $prim-color;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;

  @media (min-width: 768px) {
    margin-left: auto;
    width: 100px;
    text-align: center;
  }
}

.product-card__description {
  margin: 0;
  padding: 17.5px 0 28px 0;
  font-size: 15px;
  line-height: 24px;
  color: #444444;

  @media (min-width: 768px) {
    padding-top: 0;
    font-size: 17px;
    line-height: 30px;
  }
}

.product-card__image {
  display: block;
  background-color: #ffffff;
  width: 100%;
}

.product-card__price {
  display: block;
  padding: 25px 0;
  margin: 0 auto;
}

.product-card__button {
  @include standart-button;
}

.product-card__title-wrapper {
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
}

.product-card__description-wrapper {
  @media (min-width: 768px) {
    width: 43%;
    padding-bottom: 120px;
  }
}

.product-card__image-wrapper {
  @media (min-width: 768px) {
    width: 49%;
  }
}

.prodict-cart__content-wrapper {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.product-card__price-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    width: 43%;
    margin-top: -128px;
  }
}
