.product-cards {
  background-image: url("../../img/zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom center;
}

.product-card__parameters-list {
  margin-bottom: 28px;
}
