.product-card {
  padding: 32px 30px 25px 30px;

  @media (min-width: 768px) {
    padding: 52px 50px 53px 50px;
  }

  @media (min-width: 1150px) {
    position: relative;
    box-sizing: border-box;
    padding-left: 175px;
    padding-top: 46px;
    max-width: 1050px;
    margin: 0 auto;
    padding-bottom: 74px;
  }
}

.product-card__title {
  margin-bottom: 3.5px;

  @media (min-width: 1150px) {
    z-index: 1;
  }
}

.product-card__promotion {
  color: $prim-color;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;

  @media (min-width: 768px) {
    margin-left: auto;
    width: 125px;
    text-align: center;
  }

  @media (min-width: 1150px) {
    margin-left: 32px;
    position: absolute;
    top: 54px;
    left: -13px;
  }
}

.product-card__description {
  margin: 0;
  padding: 15px 0 28px 0;
  font-size: 15px;
  line-height: 24px;
  color: #444444;

  @media (min-width: 768px) {
    padding: 0;
    margin-bottom: 48px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: 1150px) {
    padding: 0;
    margin-bottom: 60px;
  }
}

.product-card__image {
  display: block;
  background-color: #ffffff;
  width: 100%;

  @media (min-width: 1150px) {
    position: absolute;
    top: -15px;
    right: 0;
    width: 525px;
  }
}

.product-card__price {
  display: block;
  padding: 27px 0 24px 0;
  margin: 0 auto;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
    padding: 25px 0 33px 0;
  }

  @media (min-width: 1150px) {
    padding: 21px 0 33px 0;
  }
}

.product-card__button {
  @include standard-button;

  @media (min-width: 768px) {
    font-size: 17px;
  }
}

.product-card__title-wrapper {
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

  @media (min-width: 768px) {
    margin-bottom: 34px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 32px;
  }
}

.product-card__description-wrapper {
  margin-bottom: 28px;

  @media (min-width: 768px) {
    width: 43%;
    padding-bottom: 120px;

    @media (min-width: 1150px) {
      width: 100%;
      padding: 0;
      margin-bottom: 77px;
    }
  }
}

.product-card__image-wrapper {
  @media (min-width: 768px) {
    width: 50%;
    margin-top: 14px;
  }
}

.prodict-cart__content-wrapper {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 1150px) {
    flex-direction: column;
    width: 292px;
  }
}

.product-card__price-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    width: 43.5%;
    margin-top: -136px;
  }

  @media (min-width: 1150px) {
    margin: 0;
    width: 292px;
  }
}
