.product-cards {
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 17px;
    background-image: url("../../img/zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: bottom center;
  }

  @media (min-width: 768px) {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 17px;
      background-image: url("../../img/zigzag-line-desktop.svg");
      background-repeat: repeat-x;
      background-position: bottom center;
    }
  }

  @media (min-width: 1150px) {
    padding-top: 115px;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../../img/zigzag-line-desktop.svg");
      width: 1050px;
      left: 50%;
      transform: translateX(-50%);
      height: 23px;
      background-size: 1050px 23px;
    }
  }
}


