.production__container {
  padding: 0 30px;

  @media (min-width: 768px) {
    padding: 0 50px;
  }

  @media (min-width: 1150px) {
    padding-bottom: 105px;
    width: 1050px;
    margin: 0 auto;
  }
}

.production__inner-container {
  padding-bottom: 58px;

  &:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    padding-bottom: 63px;
  }

  @media (min-width: 1150px) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 27px;
    border: 1px solid #ececec;
    padding: 0;
  }
}

.production__title {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  padding: 21px 10px 26px 90px;
  background-image: url("../../img/video-icon.svg");
  background-position: left 33px top 34px;
  background-repeat: no-repeat;
  border: 1px solid #ececec;
  border-bottom: none;

  @media (min-width: 768px) {
    order: 2;
    padding: 41px 12px 0 107px;
    font-size: 20px;
    background-position: left 42px top 38px;
  }

  @media (min-width: 1150px) {
    padding: 95px 50px 0 53px;
    background-position: left 54px top 46px;
    border: none;
  }
}

.production__image-wrapper {
  position: relative;

  @media (min-width: 1150px) {
    grid-column: 1/2;
    grid-row: 1/-1;
  }
}

.production__link--play {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
    transition: 300ms;
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
    transition: 300ms;
  }
}

.production__description {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  padding: 35px 30px 41px 33px;

  @media (min-width: 768px) {
    padding: 0;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 41px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 51px;
  }
}

.production__button {
  @include standart-button;
  text-decoration: none;
  display: block;
  width: 74%;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 99%;
    font-size: 17px;
  }

  @media (min-width: 1150px) {
    width: 86%;
    margin: 0;
  }
}

.poduction__description-wrapper {
  border: 1px solid #ececec;
  border-top: none;
  padding-bottom: 32px;

  @media (min-width: 768px) {
    order: 3;
    padding: 23px 38px 46px 39px;
  }

  @media (min-width: 1150px) {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: start;
    padding: 11px 20px 41px 54px;
    border: none;
  }
}

