.products-list {
  @include no-list-style;

  @media (min-width: 1150px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 51px;
  }
}

.products-list__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 29px;

  &:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 54px;
  }

  @media (min-width: 1150px) {
    display: flex;
    margin: 0;
  }
}

.products-list__title {
  margin: 0;
  margin-bottom: 7px;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 6px;

  @media (min-width: 768px) {
    font-size: 20px;
  }

  @media (min-width: 1150px) {

  }
}

.products-list__link {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.products-list__cart-icon {
  fill: rgba(0, 0, 0, 0.2);
}
.products-list__link:hover .products-list__cart-icon {
  fill: rgba(99, 209, 187, 1);
}

.products-list__link:active .products-list__cart-icon{
  fill: rgba(99, 209, 187, 0.3);
}

.products-list__description {
  margin: 0;
  margin-bottom: 18px;
  font-size: 13px;
  line-height: 30px;

  @media (min-width: 768px) {
    font-size: 15px;
  }
}

.products-list__containter {
  padding: 28px 26px 24px 27px;
  border: 1px solid #ececec;
  border-top: none;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    padding: 26px 32px 24px 33px;
    border-top: 1px solid #ececec;
    border-left: none;
  }

  @media (min-width: 1150px) {
    border-left: 1px solid #ececec;
    padding-left: 27px;
    border-top: none;
  }
}

.products-list__item:nth-of-type(2) .products-list__title {
  @media (min-width: 768px) {
    margin-bottom: 10px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 6px;
  }
}

.products-list__item:nth-of-type(3) .products-list__title {
  margin-bottom: 10px;

  @media (min-width: 768px) {
    margin-bottom: 7px;
    padding-right: 26px;
  }
}

.products-list__item:nth-of-type(3) .products-list__price-wrapper {
  padding-top: 19px;
}

.products-list__item:nth-of-type(3) .products-list__price-wrapper::after {
  top: -6px;
}

.products-list__item:last-child {
  margin: 0;
}


.products-list__price-wrapper {
  position: relative;
  padding-top: 24px;
  display: flex;
  justify-content: space-between;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #ececec;

    @media (min-width: 1150px) {
      top: 18px;
    }
  }

  @media (min-width: 768px) {
    margin-top: auto;
  }

  @media (min-width: 1150px) {
    padding-top: 44px;
    margin: 0;
  }
}

.products-list__price {
  font-size: 15px;
  line-height: 24px;
  color: #000000;

  @media (min-width: 768px) {
    font-size: 17px;
  }
}

.products-list__image {
  width: 100%;
  height: auto;
  display: block;
}

.production__image {
  width: 100%;
  height: auto;
}
