.reviews {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 17px;
    background-image: url("../../img/zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: bottom center;
  }

  @media (min-width: 768px) {
    padding-bottom: 25px;
    background-image: url("../../img/reviews-bg.jpg");
    background-repeat: no-repeat;
    background-position: left top;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 17px;
      background-image: url("../../img/zigzag-line-desktop.svg");
      background-repeat: repeat-x;
      background-position: bottom center;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/reviews-bg@2x.jpg");
      background-size: 350px auto;
    }
  }

    @media (min-width: 1150px) {
      width: 1050px;
      margin: 0 auto;
      padding-bottom: 69px;

      &::after {
        content: "";
        position: absolute;
        background-image: url("../../img/zigzag-line-desktop.svg");
        width: 1050px;
        left: 50%;
        transform: translateX(-50%);
        height: 23px;
        background-size: 1050px 23px;
      }
    }
}

.reviews__wrapper {
  position: relative;
  padding: 27px 30px 34px 30px;

  @media (min-width: 768px) {
    padding: 83px 50px 86px 50px;
  }

  @media (min-width: 1150px) {
    width: 805px;
    padding: 79px 50px 132px 174px;
  }
}

.reviews__title {
  margin-bottom: 14px;

  @media (min-width: 768px) {
    margin-bottom: 39px;
    max-width: 75%;
  }

  @media (min-width: 1150px) {
    max-width: 65%;
    margin-bottom: 36px;
  }
}

.reviews__list {
  @include no-list-style;
}

.reviews__quote {
  margin: 0;
  margin-bottom: 30px;
}

.reviews__text {
  margin: 0;
  margin-bottom: 33px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;

  @media (min-width: 768px) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 61px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 44px;
  }
}

.reviews__author-name {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 7px;
  display: block;

  @media (min-width: 768px) {
    max-width: 75%;
    font-size: 18px;
    margin-bottom: 3px;
  }

  @media (min-width: 1150px) {
    font-size: 17px;
  }
}

.reviews__author-nickname {
  display: block;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #444444;

  @media (min-width: 768px) {
    max-width: 75%;
    line-height: 30px;
  }
}

.reviews__buttons {
  letter-spacing: -0.36em;

  @media (min-width: 768px) {
    position: absolute;
    right: 45px;
    bottom: 107px;
  }

  @media (min-width: 1150px) {
    right: -24px;
    bottom: 152px;
  }
}

.reviews__button {
  display: inline-block;
  padding: 14px 0 8px 0;
  background-color: transparent;
  min-width: 130px;
  width: 50%;
  border: 1px solid #ececec;

  @media (min-width: 768px) {
    border: none;
    min-width: 54px;
    padding: 20px;
  }
}

.reviews__button--next {
  border-left: none;
}

.reviews__write-link {
  display: block;
  margin-top: 38px;
  text-decoration: none;

  @include standart-button;

  @media (min-width: 768px) {
    position: absolute;
    top: 41px;
    right: 50px;
    width: 22.8%;
    font-size: 17px;
  }

  @media (min-width: 1150px) {
    width: 175px;
    right: -21px;
  }
}
