.reviews {
  position: relative;
  background-image: url("../../img/zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom center;

  @media (min-width: 768px) {
    padding-bottom: 25px;

    &::after {
    /*  content: "";
      position: absolute;
      width: 100%;
      height: 17px;
      background-image: url("../../img/zigzag-line-desktop.svg");
      background-repeat: repeat-x;
      background-position: bottom center;
      */
    }

    @media (min-width: 1150px) {
      width: 1050px;
      margin: 0 auto;
      padding-bottom: 69px;

      &::after {
        content: "";
        position: absolute;
        background-image: url("../../img/zigzag-line-desktop.svg");
        width: 100%;
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        height: 23px;
        background-size: 1050px 23px;
      }
    }
  }

  @media (min-width: 768px) {
    background-image: url("../../img/review-bg.jpg");
    background-repeat: no-repeat;
    background-position: left top;
  }

}

.reviews__wrapper {
  position: relative;
  padding: 30px 30px 45px 30px;

  @media (min-width: 768px) {
    padding: 79px 50px 65px 50px;
  }

  @media (min-width: 1150px) {
    width: 930px;

  }
}

.reviews__title {
  margin-bottom: 14px;

  @media (min-width: 768px) {
    margin-bottom: 36px;
    max-width: 75%;
  }

  @media (min-width: 1150px) {
    margin-left: 124px;
    max-width: 65%;
  }
}

.reviews__list {
  @include no-list-style;

  @media (min-width: 1150px) {
    margin-left: 126px;
  }
}

.reviews__quote {
  margin: 0;
  margin-bottom: 30px;
}

.reviews__text {
  margin: 0;
  margin-bottom: 33px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;

  @media (min-width: 768px) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 61px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 44px;
  }
}

.reviews__author-name {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;

  @media (min-width: 768px) {
    max-width: 75%;
    display: block;
  }
}

.reviews__author-nickname {
  display: block;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #444444;

  @media (min-width: 768px) {
    max-width: 75%;
  }
}

.reviews__buttons {
  letter-spacing: -0.36em;

  @media (min-width: 768px) {
    position: absolute;
    right: 45px;
    bottom: 85px;
  }

  @media (min-width: 1150px) {
    right: -24px;
  }
}

.reviews__button {
  display: inline-block;
  padding: 13px 0;
  background-color: transparent;
  min-width: 130px;
  width: 50%;
  border: 1px solid #ececec;

  @media (min-width: 768px) {
    border: none;
    min-width: 54px;
    padding: 20px;
  }
}

.reviews__button--next {
  border-left: none;
}

.reviews__write-link {
  display: block;
  margin-top: 38px;
  text-decoration: none;

  @include standart-button;

  @media (min-width: 768px) {
    position: absolute;
    top: 41px;
    right: 30px;
    width: 24%;
  }

  @media (min-width: 1150px) {
    width: 175px;
    right: -25px;
  }
}
