.site-list {
  @media (min-width: 768px) {
    display: flex;
    order: 2;
    flex-direction: row;
    min-width: 340px;
    max-width: 60%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: 1150px) {
    width: 41.5%;
    flex-wrap: nowrap;
    justify-content: flex-start;
    order: 1;
  }
}


@media (min-width: 1150px) {
  .site-list__item:not(:last-of-type) {
    border-right: 1px solid #ececec;
  }
}

.site-list__item {
  display: flex;
  justify-content: center;
  padding: 27px 30px 27px 30px;
  border-bottom: 1px solid #ececec;

  &:first-child {
    border-top: 1px solid #ececec;
  }

  @media (min-width: 768px) {
    display: block;
    &:first-child {
      border: none;
    }

    border: none;
    padding: 0;
    margin-top: 21px;
    margin-right: 37px;
  }

  @media (min-width: 1150px) {
    padding: 33px 38px 32px 33px;
    margin: 0;

    &:first-child {
      padding-left: 0;
    }
  }
}

.site-list__link {
  font-size: 17px;
  line-height: 24px;
  display: block;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  margin-right: 17px;

  @media (min-width: 768px) {
    margin: 0;
    font-size: 15px;
  }

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: 1150px) {
    font-size: 17px;
  }
}
