.site-list {
  min-width: 340px;
  max-width: 60%;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: 1150px) {
    width: 41.5%;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

@media (min-width: 1150px) {
  .site-list__item:not(:last-of-type) {
    border-right: 1px solid #ececec;
  }
}

.site-list__item {
  @media (min-width: 768px) {
    margin-top: 21px;
    margin-right: 37px;
  }

  @media (min-width: 1150px) {
    padding: 33px 38px 32px 33px;
    margin: 0;

    &:first-child {
      padding-left: 0;
    }
  }
}

.site-list__link {
  display: block;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: 1150px) {
    font-size: 17px;
  }
}


