.socials {
  @include no-list-style;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 27px 0 24px 0;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.socials__item:not(:nth-child(3n)) {
  margin-right: 29px;
}

.socials__link:hover .socials__icon {
  fill: #46C1AE;
}

.socials__link:active .socials__icon {
  opacity: 0.3;
}
