.user-list {
  @media (min-width: 768px) {
    display: flex;
    order: 1;
    flex-direction: row;
    margin: 0;
    margin-left: auto;
  }

  @media (min-width: 1150px) {
    width: 40%;
    justify-content: flex-end;
    order: 3
  }
}


.user-list__item {
  padding: 27px 30px 26px 30px;
  border-bottom: 1px solid #ececec;
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    display: block;
    border-bottom: none;
    padding: 0;
    border-left: 1px solid #e5e5e5;
  }
}

.user-list__item--search {
  @media (min-width: 768px) {
    position: relative;
    padding: 33px 30px 33px 29px;
  }
}

.user-list__item--cart {
  @media (min-width: 768px) {
    position: relative;
    min-width: 264px;
    text-align: right;
    padding: 33px 0 32px 0;
  }
}

.user-list__search-icon {
  position: absolute;
  top: 3px;
  left: -46px;
  fill: rgba(0, 0, 0, 0.2);

  @media (min-width: 768px) {
    top: unset;
    bottom: 35px;
    left: 33px;
  }
}

.user-list__link {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: 768px) {
    position: static;
  }
}

.user-list__cart-icon {
  position: absolute;
  fill: rgba(0, 0, 0, 0.2);
  left: -39px;
  top: 0px;

  @media (min-width: 768px) {
    top: unset;
    bottom: 36px;
    left: 31px;
  }
}

.user-list__link:hover .user-list__cart-icon {
  fill: rgba(99, 209, 187, 1);
}

.user-list__link:active .user-list__cart-icon {
  fill: rgba(99, 209, 187, 0.3);
}

.user-list__link:hover .user-list__search-icon {
  fill: rgba(99, 209, 187, 1);
}

.user-list__link:active .user-list__search-icon {
  fill: rgba(99, 209, 187, 0.3);
}

.user-list__link--search {
  margin-right: 34px;

  @media (min-width: 768px) {
    margin: 0;
    min-width: 23px;
    min-height: 23px;
  }
}

.user-list__link--cart {
  margin-left: 14px;

  @media (min-width: 768px) {
    margin: 0;
  }
}
