.user-list {
  margin-left: auto;
  @media (min-width: 1150px) {
    width: 40%;
    justify-content: flex-end;
  }
}

.user-list__item {
  border-left: 1px solid #e5e5e5;
}

.user-list__item--search {
  position: relative;
  padding: 33px 30px 33px 29px;
}

.user-list__item--cart {
  position: relative;
  min-width: 264px;
  text-align: right;
  padding: 33px 0 32px 0;
}

.user-list__search-icon {
  position: absolute;
  bottom: 35px;
  left: 33px;
}

.user-list__link {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.user-list__cart-icon {
  position: absolute;
  bottom: 36px;
  left: 31px;
}

.user-list__link--search {
  min-width: 23px;
  min-height: 23px;
}
