@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff") format("woff2");
  font-display: swap;
}
.button {
  border: 0;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
}

.page-body {
  min-height: 100%;
  min-width: 320px;
  margin: 0 auto;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #ffffff;
  color: #444444;
}

.page {
  background-color: #c7c7c7;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  margin: 0;
  color: #000000;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
@media (min-width: 768px) {
  .title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .title {
    font-size: 53px;
    line-height: 57px;
  }
}

.main-header {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
@media (min-width: 768px) {
  .main-header {
    border-top: none;
    border-bottom: none;
    background: linear-gradient(#ffffff 88px, #ececec 2px, transparent 90px);
    background-color: #fafafa;
    background-repeat: no-repeat;
    background-size: 100% 176px;
  }
}

.main-header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width: 768px) {
  .main-header__container {
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .main-header__container {
    max-width: 1050px;
    margin: 0 auto;
  }
}

.main-header__logo {
  align-self: center;
  width: 86px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-header__logo {
    margin: 0;
    margin-right: 31%;
  }
}
@media (min-width: 1150px) {
  .main-header__logo {
    order: 2;
    margin: 0 auto;
  }
}

.user-list {
  order: 1;
}
@media (min-width: 1150px) {
  .user-list {
    order: 3;
  }
}

.site-list {
  order: 2;
}
@media (min-width: 1150px) {
  .site-list {
    order: 1;
  }
}

.main-nav {
  display: none;
}
@media (min-width: 768px) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .user-list__text {
    display: none;
  }
}

.main-nav__delivery {
  display: block;
  font-size: 15px;
  line-height: 24px;
  order: 5;
  margin-left: auto;
  color: #444444;
  padding-top: 20px;
  align-self: flex-start;
}

.index-catalog {
  position: relative;
  background-color: #f9f9f9;
}

@media (min-width: 768px) {
  .index-catalog::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    display: block;
    width: 100%;
    height: 24px;
    background-image: url("../../img/zigzag-fill-desktop.svg");
    background-repeat: repeat-x;
    background-position: 50% 100%;
  }
}
@media (min-width: 768px) and (min-width: 1150px) {
  .index-catalog::after {
    content: "";
    position: absolute;
    bottom: -23px;
    left: 0;
    display: block;
    width: 100%;
    height: 40px;
    background-image: url("../../img/zigzag-fill-desktop.svg");
    background-size: 1250px;
  }
}

.index-catalog__content-wrapper {
  padding: 90px 30px 120px 30px;
  background-image: url("../../img/main-bg-mobile.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .index-catalog__content-wrapper {
    padding: 145px 50px 372px 50px;
  }
}
@media (min-width: 1150px) {
  .index-catalog__content-wrapper {
    max-width: 1050px;
    margin: 0 auto;
  }
}

.index-catalog__title {
  align-self: center;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  text-align: center;
  margin: 0;
}
@media (min-width: 768px) {
  .index-catalog__title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .index-catalog__title {
    font-size: 53px;
    line-height: 57px;
  }
}

.index-catalog__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .index-catalog__list {
    display: flex;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .index-catalog__list {
    max-width: 1050px;
    margin: 0 auto;
  }
}

.index-catalog__item {
  min-height: 103px;
}
@media (min-width: 768px) {
  .index-catalog__item {
    width: 50%;
  }
}

.index-catalog__item--primary-color {
  background-color: #63d1bb;
}

.index-catalog__item--secondary-color {
  background-color: #56c3b2;
}

.index-catalog__item--interior {
  background-image: url("../../img/interior.svg");
  background-repeat: no-repeat;
  background-position: right 36px center;
}

.index-catalog__item--toys {
  background-image: url("../../img/toys.svg");
  background-repeat: no-repeat;
  background-position: right 27px center;
}

.index-catalog__link {
  display: block;
  padding: 24px 160px 31px 30px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
}
@media (min-width: 1150px) {
  .index-catalog__link {
    font-size: 20px;
    line-height: 30px;
  }
}

.parameters-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 37% auto;
}

.parameters-list__parameter {
  border-bottom: 1px solid #ececec;
  padding-bottom: 16px;
}
.parameters-list__parameter:not(:first-of-type) {
  padding-top: 12px;
}

.parameters-list__value {
  margin: 0;
  border-bottom: 1px solid #ececec;
  padding-bottom: 16px;
}
.parameters-list__value:not(:first-of-type) {
  padding-top: 12px;
}

.product-card {
  padding: 31px 30px 36px 30px;
}
@media (min-width: 768px) {
  .product-card {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (min-width: 1150px) {
  .product-card {
    position: relative;
    max-width: 1050px;
    margin: 0 auto;
    padding-bottom: 90px;
  }
}

.product-card__title {
  margin-bottom: 3.5px;
}
@media (min-width: 1150px) {
  .product-card__title {
    z-index: 1;
    margin-left: 43px;
    order: 2;
  }
}

.product-card__promotion {
  color: #63d1bb;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .product-card__promotion {
    margin-left: auto;
    width: 100px;
    text-align: center;
  }
}
@media (min-width: 1150px) {
  .product-card__promotion {
    margin-left: 32px;
  }
}

.product-card__description {
  margin: 0;
  padding: 17.5px 0 28px 0;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}
@media (min-width: 768px) {
  .product-card__description {
    padding-top: 0;
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 1150px) {
  .product-card__description {
    padding: 0;
    margin-bottom: 60px;
  }
}

.product-card__image {
  display: block;
  background-color: #ffffff;
  width: 100%;
}
@media (min-width: 1150px) {
  .product-card__image {
    position: absolute;
    top: -13px;
    right: 50px;
    width: 525px;
  }
}

.product-card__price {
  display: block;
  padding: 25px 0;
  margin: 0 auto;
}

.product-card__button {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  background-color: transparent;
  padding: 16px 0;
  text-align: center;
  border: 2px solid #444444;
}

@media (min-width: 768px) {
  .product-card__title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
}
@media (min-width: 1150px) {
  .product-card__title-wrapper {
    margin-bottom: 35px;
  }
}

.product-card__description-wrapper {
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .product-card__description-wrapper {
    width: 43%;
    padding-bottom: 120px;
  }
}
@media (min-width: 768px) and (min-width: 1150px) {
  .product-card__description-wrapper {
    width: 100%;
    padding: 0;
    margin-bottom: 78px;
  }
}

@media (min-width: 768px) {
  .product-card__image-wrapper {
    width: 49%;
  }
}

@media (min-width: 768px) {
  .prodict-cart__content-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1150px) {
  .prodict-cart__content-wrapper {
    flex-direction: column;
    width: 292px;
    margin-left: 180px;
  }
}

.product-card__price-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .product-card__price-wrapper {
    width: 43%;
    margin-top: -128px;
  }
}
@media (min-width: 1150px) {
  .product-card__price-wrapper {
    margin: 0;
    width: 292px;
    margin-left: 180px;
  }
}

.product-cards::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 17px;
  background-image: url("../../img/zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom center;
}
@media (min-width: 768px) {
  .product-cards::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 17px;
    background-image: url("../../img/zigzag-line-desktop.svg");
    background-repeat: repeat-x;
    background-position: bottom center;
  }
}
@media (min-width: 1150px) {
  .product-cards {
    padding-top: 115px;
  }
  .product-cards::after {
    content: "";
    position: absolute;
    background-image: url("../../img/zigzag-line-desktop.svg");
    width: 1050px;
    left: 50%;
    transform: translateX(-50%);
    height: 23px;
    background-size: 1050px 23px;
  }
}

.features__wrapper {
  padding: 30px;
}
@media (min-width: 768px) {
  .features__wrapper {
    padding: 50px;
    padding-bottom: 90px;
  }
}
@media (min-width: 1150px) {
  .features__wrapper {
    width: 700px;
    margin: 0 auto;
    padding-top: 68px;
  }
}

.features__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .features__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.features__item {
  padding-top: 83px;
  color: #000000;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .features__item {
    font-size: 20px;
    line-height: 22px;
    padding-right: 40px;
  }
}
.features__item--eco {
  background-image: url("../../img/eco.svg");
  background-repeat: no-repeat;
  background-position: top 30px left;
}
.features__item--price {
  background-image: url("../../img/price.svg");
  background-repeat: no-repeat;
  background-position: top 30px left;
}
@media (min-width: 768px) {
  .features__item--price {
    grid-row: 2/3;
  }
}
.features__item--like {
  background-image: url("../../img/like.svg");
  background-repeat: no-repeat;
  background-position: top 30px left;
}
@media (min-width: 768px) {
  .features__item--like {
    grid-row: 3/4;
  }
}
.features__item--handmade {
  background-image: url("../../img/handmade.svg");
  background-repeat: no-repeat;
  background-position: top 30px left;
}
.features__item--support {
  background-image: url("../../img/support.svg");
  background-repeat: no-repeat;
  background-position: top 30px left;
}
.features__item--wrapper {
  background-image: url("../../img/wrapper.svg");
  background-repeat: no-repeat;
  background-position: top 30px left;
}

.reviews {
  position: relative;
  background-image: url("../../img/zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom center;
}
@media (min-width: 768px) {
  .reviews {
    padding-bottom: 25px;
  }
  .reviews::after {
    /*  content: "";
      position: absolute;
      width: 100%;
      height: 17px;
      background-image: url("../../img/zigzag-line-desktop.svg");
      background-repeat: repeat-x;
      background-position: bottom center;
      */
  }
}
@media (min-width: 768px) and (min-width: 1150px) {
  .reviews {
    width: 1050px;
    margin: 0 auto;
    padding-bottom: 69px;
  }
  .reviews::after {
    content: "";
    position: absolute;
    background-image: url("../../img/zigzag-line-desktop.svg");
    width: 100%;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    height: 23px;
    background-size: 1050px 23px;
  }
}
@media (min-width: 768px) {
  .reviews {
    background-image: url("../../img/review-bg.jpg");
    background-repeat: no-repeat;
    background-position: left top;
  }
}

.reviews__wrapper {
  position: relative;
  padding: 30px 30px 45px 30px;
}
@media (min-width: 768px) {
  .reviews__wrapper {
    padding: 79px 50px 65px 50px;
  }
}
@media (min-width: 1150px) {
  .reviews__wrapper {
    width: 930px;
  }
}

.reviews__title {
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .reviews__title {
    margin-bottom: 36px;
    max-width: 75%;
  }
}
@media (min-width: 1150px) {
  .reviews__title {
    margin-left: 124px;
    max-width: 65%;
  }
}

.reviews__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media (min-width: 1150px) {
  .reviews__list {
    margin-left: 126px;
  }
}

.reviews__quote {
  margin: 0;
  margin-bottom: 30px;
}

.reviews__text {
  margin: 0;
  margin-bottom: 33px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}
@media (min-width: 768px) {
  .reviews__text {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 61px;
  }
}
@media (min-width: 1150px) {
  .reviews__text {
    margin-bottom: 44px;
  }
}

.reviews__author-name {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}
@media (min-width: 768px) {
  .reviews__author-name {
    max-width: 75%;
    display: block;
  }
}

.reviews__author-nickname {
  display: block;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #444444;
}
@media (min-width: 768px) {
  .reviews__author-nickname {
    max-width: 75%;
  }
}

.reviews__buttons {
  letter-spacing: -0.36em;
}
@media (min-width: 768px) {
  .reviews__buttons {
    position: absolute;
    right: 45px;
    bottom: 85px;
  }
}
@media (min-width: 1150px) {
  .reviews__buttons {
    right: -24px;
  }
}

.reviews__button {
  display: inline-block;
  padding: 13px 0;
  background-color: transparent;
  min-width: 130px;
  width: 50%;
  border: 1px solid #ececec;
}
@media (min-width: 768px) {
  .reviews__button {
    border: none;
    min-width: 54px;
    padding: 20px;
  }
}

.reviews__button--next {
  border-left: none;
}

.reviews__write-link {
  display: block;
  margin-top: 38px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  background-color: transparent;
  padding: 16px 0;
  text-align: center;
  border: 2px solid #444444;
}
@media (min-width: 768px) {
  .reviews__write-link {
    position: absolute;
    top: 41px;
    right: 30px;
    width: 24%;
  }
}
@media (min-width: 1150px) {
  .reviews__write-link {
    width: 175px;
    right: -25px;
  }
}

@media (min-width: 1150px) {
  .contacts {
    position: relative;
    width: 1050px;
    margin: 0 auto;
    padding-bottom: 78px;
  }
}

.contacts__wrapper {
  padding: 30px 30px;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    position: relative;
    padding: 30px 50px;
  }
  .contacts__wrapper::after {
    content: url("../../img/flag.svg");
    position: absolute;
    top: 0;
    right: 50px;
  }
}
@media (min-width: 1150px) {
  .contacts__wrapper {
    max-width: 280px;
    padding-top: 175px;
    padding-right: 26px;
    padding-left: 175px;
  }
  .contacts__wrapper::after {
    content: url("../../img/flag.svg");
    position: absolute;
    top: 158px;
    right: 371px;
  }
}

.contacts__title {
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .contacts__title {
    margin-bottom: 49px;
  }
}
@media (min-width: 1150px) {
  .contacts__title {
    margin-bottom: 34px;
  }
}

.contacts__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 28px;
  display: grid;
  grid-template-columns: 76px auto;
  row-gap: 30px;
}
@media (min-width: 768px) {
  .contacts__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1150px) {
  .contacts__list {
    display: grid;
    grid-template-columns: 76px 208px;
    row-gap: 30px;
  }
}

.contacts__item {
  font-size: 14px;
  line-height: 30px;
  color: #444444;
}
@media (min-width: 768px) {
  .contacts__item {
    width: 15%;
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 1150px) {
  .contacts__item {
    width: auto;
  }
}

.contacts__description {
  margin: 0;
}
@media (min-width: 768px) {
  .contacts__description {
    width: 35%;
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 1150px) {
  .contacts__description {
    width: auto;
  }
}

.contacts__email {
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
}
@media (min-width: 768px) {
  .contacts__email {
    font-size: 17px;
  }
}

.contacts__address {
  font-style: normal;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
}
@media (min-width: 768px) {
  .contacts__address {
    font-size: 17px;
  }
}

.contacts__map {
  width: 100%;
}
@media (min-width: 1150px) {
  .contacts__map {
    position: absolute;
    top: 103px;
    right: 0;
    width: 527px;
  }
}

.contacts__button-wrapper {
  padding: 40px 30px;
}
@media (min-width: 768px) {
  .contacts__button-wrapper {
    padding: 55px 50px;
    width: 35%;
    margin: 0 auto;
  }
}
@media (min-width: 1150px) {
  .contacts__button-wrapper {
    margin: 0;
    padding: 25px 50px;
  }
}

.contacts__write-link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  background-color: transparent;
  padding: 16px 0;
  text-align: center;
  border: 2px solid #444444;
}
@media (min-width: 1150px) {
  .contacts__write-link {
    width: 230px;
    margin-left: 130px;
  }
}

.socials {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 27px 0 24px 0;
}
@media (min-width: 768px) {
  .socials {
    padding: 0;
  }
}

.socials__item:not(:nth-child(3n)) {
  margin-right: 29px;
}

.main-footer {
  background-color: #f1f1f1;
}

.main-footer__container {
  padding: 0 30px;
}
@media (min-width: 768px) {
  .main-footer__container {
    padding: 51px 50px 54px 50px;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1150px) {
  .main-footer__container {
    width: 1050px;
    margin: 0 auto;
  }
}

.main-footer__logo {
  display: none;
}
@media (min-width: 768px) {
  .main-footer__logo {
    display: inline-block;
  }
}

.main-footer__socials-list {
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .main-footer__socials-list {
    border: none;
  }
}

.copyright {
  display: flex;
  align-items: center;
  padding: 22px 0;
  justify-content: center;
}
@media (min-width: 768px) {
  .copyright {
    padding: 0;
  }
}

.copyright__link {
  display: flex;
  margin-left: 27px;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
}

@media (min-width: 1150px) {
  .user-list {
    width: 40%;
    justify-content: flex-end;
  }
}

.user-list__item {
  border-left: 1px solid #e5e5e5;
}

.user-list__item--search {
  position: relative;
  min-width: 82px;
}

.user-list__item--cart {
  position: relative;
  min-width: 264px;
  text-align: right;
}

.user-list__search-icon {
  position: absolute;
  bottom: 32px;
  left: 33px;
}

.user-list__link {
  display: block;
  font-weight: 700;
  padding: 32px 0 32px 0;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.user-list__cart-icon {
  position: absolute;
  bottom: 32px;
  left: 33px;
}

.user-list__link--search {
  padding: 44px 0 44px 0;
}

.site-list {
  min-width: 340px;
  max-width: 60%;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 1150px) {
  .site-list {
    width: 40%;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

@media (min-width: 1150px) {
  .site-list__item:not(:last-of-type) {
    border-right: 1px solid #ececec;
  }
}
.site-list__link {
  display: block;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  padding: 20px 20px 20px 0;
}
@media (min-width: 1150px) {
  .site-list__link {
    padding: 32px 40px 31.5px 0;
    font-size: 17px;
  }
}

@media (min-width: 1150px) {
  .site-list__item:not(:first-child) .site-list__link {
    padding-left: 35px;
  }
}
.additional-list {
  display: none;
}
@media (min-width: 1150px) {
  .additional-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
    order: 4;
  }
}

.additional-list__link {
  display: block;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  padding: 20px 20px 20px 0;
  font-size: 15px;
  line-height: 24px;
}
/*# sourceMappingURL=style.css.map */