@mixin no-list-style {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@mixin standart-button {
  text-transform: uppercase;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  background-color: transparent;
  padding: 14px 0;
  text-align: center;
  border: 2px solid #444444;
}
