@import "global/variables.scss";
@import "global/mixins.scss";
@import "global/fonts.scss";
@import "blocks/button.scss";
@import "blocks/page-body.scss";
@import "global/visually-hidden.scss";
@import "blocks/title.scss";
@import "blocks/main-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/index-catalog.scss";
@import "blocks/parameters-list.scss";
@import "blocks/product-card.scss";
@import "blocks/product-cards.scss";
@import "blocks/features.scss";
@import "blocks/reviews.scss";
@import "blocks/contacts.scss";
@import "blocks/socials.scss";
@import "blocks/main-footer.scss";
@import "blocks/copyright.scss";
@import "blocks/user-list.scss";
@import "blocks/site-list.scss";
@import "blocks/additional-list.scss";
@import "blocks/products-list.scss";
@import "blocks/catalog.scss";
@import "blocks/production.scss";
